.business__bgr{
   background-color: var(--main-color);
   height: 260px;
}

.business__bgr--list{
   text-align: center;
   padding-top: 50px;
}

.business__list--01{
   font-size: 2.8rem;
   color: var(--white-color);
}

.business__list--02{
   font-size: 2.0rem;
   color: var(--white-color);
   padding: 16px 0;
}

