.content__title{
    padding: 100px;
    background-color: var(--content-color);
}

.content__title--text{
    font-size: 2.8rem;
    padding-bottom: 20px;
}

.title__text--help{
    font-size: 2.4rem;
    opacity: 0.8;
}

.title__list{
    margin-top: 30px;
}

.title__img-1:hover{
    opacity: 0.6;
}

.title__list--02{
    margin: 15px 0;
}

.title__list--text{
    font-size: 2.0rem;
    padding-top: 8px;
}

.title__text--help-01{
    font-size: 1.6rem;
}

.title__list-row{
    margin-top: 50px;
}