@media (max-width: 767px){
    .header__nav--list, .header__nav--list{
        display: none;
    }
    .header__top {
        position: relative;
    }
    .header__nav--left {
        position: absolute;
        display: flex;
        top: 0;
        left: 40%;
    }
    .slider__list {
        padding: 70px 8px 0 8px;
    }
    .nav__top0{
        display: inline-block;
        position: absolute;
        top: 35%;
        left: 4%;
        font-size: 2.5rem;
    }
    .content__headline--held{
        margin: 0;
        font-size: 1.5rem;
    }
    .content__title--text, .title__text--help{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .content__title{
        padding: 0 8px;
    }
    .title__text--help{
        font-size:2.0rem;
    }
    .title__list--img{
        padding-left: 25%;
    }
    .slider__list--btn{
        width: 220px;
    }
    .slider__btn--links{
        width: 220px;
    }
    .title__img-1 img {
        width: 100%;
        padding-top: 20px;
    }
    .prom__list{
        position: relative;
    }
    .prom__text {
        position: absolute;
        top: 0;
        left: 2%;
        width: none;
    }
    .prom__list--text-01, .prom__list--text-02{
        text-align: center;
    }
    .prom__list--iteam{
        padding-top: 50px;
    }

    .prom{
        padding-top: 50px;
    }

    .prom__item--img{
        margin: 0 0px 10px 8px;
        width: 175px;
        height: 180px;
    }
    .blog__img {
        display: flex;
        width: 100%;
        height: auto;

    }
    .blog__img--links img {
        padding: 0 8px;
    }
    .blog__headline{
        text-align: center;
    }
    .blog__headline--03{
        padding-bottom: 10px;
    }
    .content--headline{
        text-align: center;
    }
    .map__list--iteam--03{
        position: absolute;
        padding-left: 8px;
        top: 0;
    }
    .map__list {
        position: relative;
    }
    .map__list--iteam--01 {
        padding-right: 8px;
    }
    .footer__iteam--img{
        display:none;
    }
    .ft-grid {
        position: relative;
        padding: 5px 16px 0px 16px;
    }
    .content__list--iteam {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 540px){
    .header__nav--left{
        left: 35%;
    }
}