/* Chứa các biến dùng chung. Cần học thuộc vì trong này có nhiều biến dùng chung thường dùng */
body{
    font-family: arial,helvetica,sans-serif;
}

:root{
    --white-color:#fff;
    --gray-color: #000;
    --main-color: #ff7800;
    --green-color: #78c145;
    --light-color: #1f2642;
    --content-color: #f6f6f9;
    --xam-color: #777C8C;
    --footer-color: #9f9f9f;
    --footer01-color: #9d9d9d;
}